{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",

    "SMTP_HOST": "smtp.gmail.com",
    "SMTP_PORT": "465",
    "SMTP_USER": "dayana.alvarado@connect.inc",
    "SMTP_APP_PASSWORD": "REEMPLAZAR_CON_APP_PASSWORD_DE_16_CARACTERES",

    "ALLOWED_ORIGIN": "https://quality-sendemail.connectlabs.tech"
  }
}
